<server description="OpenLiberty Server">

    <featureManager>
        <feature>cdi-2.0</feature>
        <feature>jaxrs-2.1</feature>
        <feature>jsonp-1.1</feature>
        <feature>mpHealth-1.0</feature>
        <feature>mpOpenTracing-1.2</feature>
        <feature>usr:opentracingZipkin-0.31</feature>
    </featureManager>

</server>
