<?xml version="1.0" encoding="UTF-8"?>
<server description="OpenLiberty Server">

    <featureManager>
        <feature>javaee-8.0</feature>
        <feature>mpMetrics-1.0</feature>
        <feature>mpOpenTracing-1.0</feature>
        <feature>usr:opentracingZipkin-0.30</feature>
    </featureManager>

    <httpEndpoint id="defaultHttpEndpoint" host="*" httpPort="9080" httpsPort="9443"/>

    <keyStore id="defaultKeyStore" password="Liberty"/>

    <basicRegistry id="basic" realm="MicroProfileMetrics">
        <user name="admin" password="adminadmin"/>
        <user name="nonadmin" password="guest"/>
    </basicRegistry>

    <administrator-role>
        <user>admin</user>
    </administrator-role>

</server>
